*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: map-get($map: $fuentes, $key:regular);
}

%titulos{
    font-size: 3.3rem;
    font-weight: map-get($map: $fuentes, $key: bold);
}

/*Header*/

.header{

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 80px;

    h1{
        @extend %titulos;
        color: white;
        margin-left: 300px;
     }   

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 570px;
        margin-top: 7px;

            a{
                text-decoration: none;
                color: white;
                padding: 17px;
                font-size: 1.4rem;
            }

}

}

/*Banner*/

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    position: relative;
    
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;  
        opacity: 0.86;
    }

    h1{
        @extend %titulos;
        position: absolute;
    }
}



/*Contenido*/

@mixin imagenes {
    height: 200px;
    width: 350px;
    border-bottom: 2px solid black; 
    margin-bottom: 7px;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    article{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 480px;
    margin-top: 85px;
    text-align: center;
    margin-bottom: 85px;

        img{
            @include imagenes;
        }

        p{
            padding-top: 9px;
        }
    }

}

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;

    img{
        height: 60px;
    }
}